<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    Main URL<hr> https://summergeeks-assignment-api.herokuapp.com/
    <br><br>POST
    <hr><strong>Add Host :</strong> /host/add
    <br><strong>Add Visitor :</strong> /visitor/add/:host_id
    <br><strong>Checkout :</strong> /visitor/Checkout/:visitor_id
    <br><br><br>GET
    <hr><strong>Show Hosts :</strong> /additional/show-hosts
    <br><strong>Check Host Existence :</strong> /additional/check-host/:host_id
  </body>
</html>